@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #f1f2f3;
}

.fz-10 {
    font-size: 10px;
}

.header {
    max-width: 1240px;
    margin: auto;
}

.my-container {
    max-width: 1240px;
    margin: auto;
}

.header-nav{
    width: 100%;
    height: 40px;
    background-color: #303336;
    margin-bottom: 10px;
}

.header__right {
    height: 70px;
    margin-top: 11px;
}
.header__right-logos{
    margin-top: 14px;
}
.header__right-logos-cont{
    width: 100px;
}
.header__right-langs{

}

.header__right-user{
    display: flex;
}
.avatar{
    margin-right: 15px;
}
.header__right-user-name{
    margin-bottom: 0px;
}
.image-auto {
    width: 100%;
    height: auto;
}
.header-nav__info{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    max-width: 1240px;
    margin: auto;
    /*margin: 0 100px 0 100px;*/
    /*margin: 0px 400px 0px 100px;*/
}
.header-nav__info-item-active-name{
    padding: 10px  10px 0px 10px;
}
.header-nav__info-item-active{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 40px;
    padding: 0 !important;
    color: #000!important;

}
.header-nav__info-item {
    padding-top: 10px;
    color:  #E4E5E7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-nav__info__links-target{
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #fff;
    height: 40px;
}
.news {
    padding: 0;
    border: 1px solid  #E4E5E7;
    background-color: #FAFAFA;
}
.news_title{
    font-family: Roboto;
    height: 57px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.news_description{
    margin-bottom: 15px;
    height: 122px;
    align-self: stretch;
    font-size: 16px;
    color:  #5F636A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.more-detail-footer{
    width: 1000px;
    height: 200px;
}
.fz-22 {
    color:  #303336;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.graphic {
    width: 1240px;
    height: 324px;
    border: 1px solid #93989F;
    margin-bottom: 50px;
}

.additional-content{
    background-color: #303336;
    padding: 50px;
}
.contacts{
    display: flex;
}
.data-about-us{
    display: flex;
    justify-content: space-between;
    height: 200px
}
.data-about-us{
    display: flex;
    justify-content: space-between;
    height: 200px
}
.fz-12{
    color:  #93989F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.news-date{
    display: flex;
    justify-content: space-between
}
.more-details{
    margin-right: 5px;
    color:#A4302D;
}
.fz-14{
    font-size: 14px;
}
