@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #f1f2f3;
}

.fz-12 {
    font-size: 12px !important;
}

.
.fz-10 {
    font-size: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-60 {
    margin-bottom: 40px !important;
}

.p-15 {
    padding: 15px;
}

.mr-5 {
    margin-right: 5px
}

.d-none {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-container {
    max-width: 1240px;
    margin: auto;
}


.header {
    height: 70px;
}

.header-nav {
    background-color: #303336;
    margin-bottom: 10px;
}

.header__right {
    height: 70px;
    margin-top: 11px;
}

.header__right-user {
    display: flex;
}
.image-auto {
    width: 100%;
    height: auto;
}

.header-nav__info {
    margin: auto;
    max-width: 1240px;
    display: flex;
    gap: 20px;
}

.header-nav__info-item-active {
    color: #000 !important;
    background-color: #fff;
    border-bottom: 5px solid #A4302D;
}

.header-nav__info-item {
    font-size: 15px;
    height: 40px;
    color: #E4E5E7;
    font-family: TacticSans-Reg;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px;
    cursor: pointer;
}

.news-list {
    margin-bottom: 70px;
}

.news-list-item {
    padding: 0;
    border: 1px solid #E4E5E7;
    background-color: #FAFAFA;
    max-width: 400px;
}

.news-list-item__image {
    max-width: 500px;

}

.news-list-item__title {
    font-weight: 600;
    font-size: 16px !important;
    height: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.news-list-item__description {
    margin-bottom: 25px;
    height: 100px;
    align-self: stretch;
    color: #5F636A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-list-item__footer {
    display: flex;
    justify-content: space-between;
}

.my-footer {
    max-width: 1240px;
    margin: 0 auto 50px auto;
}

.my-footer__interior {
}

.my-footer__interior div {
}


.my-footer__about-us {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.more-detail-footer {
    width: 1000px;
    height: 200px;
}

.fz-22 {
    color: #303336;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.my-footer-content {
    color: #fff;
    background-color: #303336;
    height: 151px;
}

.contacts {
    display: flex;
    gap: 10px;
}


.my-footer-last {
    color: #93989F;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-select {
    width: 120px;
}

.image-auto {
    width: 100%;
    height: auto;
}


.w-75 {
    max-width: 180px !important;
}

.ml-140 {
    margin-left: 140px;
}

.fz-22 {
    font-size: 22px;
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pl110 {
    padding-left: 110px
}

.w-70 {
    width: 70px;
    color: #5F636A;
}

.mr-10 {
    margin-right: 10px;
}

.right-select {
    display: flex;
    justify-content: end;
}

.bts-update {
    position: relative;
    left: 15%;
    border: none;
    display: flex;
    width: 300px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #45494E;
    margin-right: 150px;
    margin-bottom: 20px
}

.bts-reset {
    position: relative;
    left: 77%;
    border: none;
    background: none;
    color: #A4302D;
    display: flex;
    padding: 6px 10px;
    align-items: center;
}

.main {
    padding: 50px;
    background-color: #fff;
    /*background-color: #FAFAFA;*/
    margin-bottom: 50px;

}

.dealers-search__input {
    height: 35px;
}

.dealers-search__image {
    position: absolute;
    left: 89%;
}

.map {
    margin-bottom: 20px;
}

.my-table {
    margin-bottom: 50px;
}

.table-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-grey {
    color: #5F636A;
}


.color-white {
    color: #fff;
}

.table-line {
    border-bottom: 2px solid #f1f2f3;
}

.color-red {
    color: #A4302D;
}

.color-grey-3 {
    color: #303336
}

.bc-grey {
    background-color: #f1f2f3;
}

/*page 3*/
.bts-info {
    background-color: #FAFAFA;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.bts-info-active {
    background-color: #45494E;
    color: #E4E5E7;
}

.tables {
    gap: 50px;
    margin-bottom: 20px;
}

.p20 {
    padding: 20px;
}



.table-header-font {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

.building-photo-comm {
    padding: 20px;
    background-color: #FAFAFA;
    border: 1px solid #E4E5E7;
}

.table-description {
    border: 1px solid #E4E5E7;
}

.table-description-component {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.table-description-component-string {
    width: 220px;
    color: #5F636A;
}



/*Page 3*/


.mb-30 {
    margin-bottom: 30px;
}

.fz-22 {
    font-size: 22px;
}

.bts-info {
    background-color: #FAFAFA;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.bts-info-active {
    background-color: #45494E;
    color: #E4E5E7;
}



.profile-card {
    border: 1px solid #E4E5E7;
    padding: 30px;
    background-color: #FAFAFA;
}

.nothing {
    width: 1000px;
    height: 500px;
}
.employee-data {
    display: flex;
    justify-content: center;
}

/*start5*/

.mb-10 {
    margin-bottom: 10px;
}

.employee-data {
    display: flex;
    justify-content: center;
}

.header__right {
    height: 70px;
    margin-top: 11px;
}

.header__right-logos {
    margin-top: 14px;
}

.header__right-logos-cont {
    width: 100px;
}

.header__right-langs {

}

.fz-10 {
    font-size: 10px;
}

.fz-14 {
    font-size: 14px;
}

.header__right-user {
    display: flex;
}

.avatar {
    margin-right: 15px;
}

.select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-select {
    width: 120px;
}

.image-auto {
    width: 100%;
    height: auto;

}

.header-nav__info {
    display: flex;
    gap: 20px;
    max-width: 1240px;
    margin: auto;
}


.df {
    display: flex;
}


.jcsb {
    justify-content: space-between;
}

.mr-10 {
    margin-right: 10px;
}

.col-name {
    display: flex;
    align-items: center;
    height: 65px;

}

.width-100{
    width: 100px;
}

.cont{
    padding: 10px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    width: 210px;
}
.empoyer-cont {
    padding: 10px 20px 0 10px;
    margin-bottom: 50px;
}

.color-grey-2 {
    color: #93989F;
}

.mb-30 {
    margin-bottom: 30px;
}



.color-white-2 {
    color: #E4E5E7;
}

.bts-info {
    background-color: #FAFAFA;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.bts-info-active {
    background-color: #45494E;
    color: #E4E5E7;
}

.fz-12 {
    color: #93989F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.color-grey-3 {
    color: #5F636A;
}

.fz-18 {
    font-size: 18px;
}

.duration-period {
    border-radius: 7px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 200px;
    border: 1px solid #D6D6D6;
}


.table-line {
    border-bottom: 2px solid #f1f2f3;
}

.table-col {
    display: flex;
}

.bc-grey {
    border-bottom: 2px solid #f1f2f3;
}

.table-data{
    color: #5F636A;
    display: flex;
    justify-content: center;
}


.color-red {
    color: #A4302D;
}


.table-header {
    border-radius: 2px;
    padding: 5px;
    background-color: #92BCE3;
}