
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f2f3;
}

.header {
    max-width: 1240px;
    margin: auto;
}

.my-container {
    max-width: 1240px;
    margin: auto;
}

.header-nav {
    width: 100%;
    height: 40px;
    background-color: #303336;
    margin-bottom: 10px;
}

.header-nav__info-item-active-name {
    border-bottom: 5px solid #A4302D;
    padding: 10px 10px 6px 10px;
    background-color: #f1f2f3;
    color: #000!important;
}

.mb-10{
    margin-bottom: 10px;
}

.employee-data {
    display: flex;
    justify-content: center;
}

.header__right {
    height: 70px;
    margin-top: 11px;
}

.header__right-logos {
    margin-top: 14px;
}

.header__right-logos-cont {
    width: 100px;
}

.header__right-langs {

}

.fz-10 {
    font-size: 10px;
}

.fz-14 {
    font-size: 14px;
}

.header__right-user {
    display: flex;
}

.avatar {
    margin-right: 15px;
}

.select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-select {
    width: 120px;
}

.image-auto {
    width: 100%;
    height: auto;

}

.header-nav__info {
    display: flex;
    gap: 20px;
    max-width: 1240px;
    margin: auto;
}



.df {
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.mr-10 {
    margin-right: 10px;
}

.header-nav__info-item-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 40px;
    padding: 0 !important;
    color: #000 !important;

}

.header-nav__info-item {
    padding-top: 10px;
    color: #E4E5E7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-nav__info__links-target {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #fff;
    height: 40px;
}

.color-grey-2 {
    color: #93989F;
}

.mb-30 {
    margin-bottom: 30px;
}

.fz-22 {
    font-size: 22px;
}

.bts-info {
    background-color: #FAFAFA;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.bts-info-active {
    background-color: #45494E;
    color: #E4E5E7;
}

.table-header {
    border-radius: 2px;
    padding: 5px;
    background-color: #92BCE3;
}

.tables {
    gap: 50px;
    margin-bottom: 20px;
}

.p20 {
    padding: 20px;
}

.profile-card {
    border: 1px solid #E4E5E7;
    padding: 30px;
    background-color: #FAFAFA;
}

.nothing {
    width: 1000px;
    height: 500px;

}

.cont {
    padding: 10px 20px 0 10px;
    margin-bottom: 50px;
}


.additional-content {
    background-color: #303336;
    padding: 50px;
}

.data-about-us {
    display: flex;
    justify-content: space-between;
    height: 200px
}

.color-white-2 {
    color: #E4E5E7;
}

.fz-15 {
    font-size: 15px;
    color: #E4E5E7;

}

.fz-12 {
    color: #93989F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.color-grey-3{
    color: #5F636A;
}
.fz-18{
    font-size: 18px;
}